

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   
  }
  
  .logo {
    margin-left: 10px;
  }
  
  .search-words {
    display: flex;
  }
  
  .search-words span {
    margin: 0 5px;
    
  }
  .search-words a{
    text-decoration: none;
    font-weight: lighter;
    color:black;

  }
  
  .btn {
    margin-right: 10px;
    background-color: green;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 18px
    


  }
  
  .content {
    display: flex;
  }
  
  .photo {
    position: relative;
    flex-grow: 1;
   
    
    

  }
  
  .photo img {
    width: 1225px;
    height: 751px;
    top: 131px;
    left: 555px;
    gap: 0px;
    border-radius: 24px 0px 0px 0px;
    opacity: 0px;
    float: right;

  }
  
  .main-text-on-photo {
    position: absolute;
    top: 10px;
    right: 410px;

  }
  
  .secound-text-on-photo{
    position: absolute;
    top: 50px;
    right: 450px;

  }
  
  .search-mark {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .search-column {
    margin-left: 10px;
  }
  